<div class="container posicaoCentral">
    <div class="row ">
        <div class="col s10 offset-s1 ">
            <div class="card sticky-action ">
                <md-toolbar class="md-table-toolbar ">
                    <div class="md-toolbar-tools indigo darken-4">
                        <span>Sistema de Controle de Alunos</span>
                    </div>
                </md-toolbar>
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <img src="img/estudante.svg"
                             ng-click="vm.alterarRota('cadastroAluno')"
                             class="imgMenu animated zoomIn">
                        <md-tooltip md-direction="top">Cadastro de Alunos</md-tooltip>
                    </div>
                    <div class="col s6">
                        <img src="img/busca-aluno.svg"
                             ng-click="vm.alterarRota('pesquisaAluno')"
                             class="imgMenu animated zoomIn">
                        <md-tooltip md-direction="top">Pesquisa de Alunos</md-tooltip>

                    </div>
                    <div class="col s6">
                        <img src="img/universidade.svg"
                             ng-click="vm.alterarRota('cadastroInstituicao')"
                             class="imgMenu animated zoomIn">
                        <md-tooltip md-direction="top">Cadastro de Instituicao</md-tooltip>

                    </div>
                    <div class="col s6">
                        <img src="img/search.svg"
                             ng-click="vm.alterarRota('pesquisaInstituicao')"
                             class="imgMenu animated zoomIn">
                        <md-tooltip md-direction="top">Pesquisa de Instituicao</md-tooltip>

                    </div>

                </div>
            </div>
            </div>
        </div>
</div>
</div>