<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large indigo darken-4 waves-effect waves-light" href="#/dashboard-app">
        <i class="material-icons">reply</i>
        <md-tooltip md-direction="top">Voltar</md-tooltip>
    </a>
</div>
<st-crud titulo="vm.stService.tituloPaginaCadastro"
         tipo="primary"
         service="vm.stService">
    <st-crud-body>
        <st-input-text label="Nome"
                       ng-model="vm.stService.entidade.nome"
                       ng-required="true">
        </st-input-text>

        <st-input-text label="Responsável"
                       ng-model="vm.stService.entidade.responsavel"
                       ng-required="true">
        </st-input-text>

        <st-input-text label="CPF Responsável"
                       ng-model="vm.stService.entidade.cpfResponsavel"
                       ng-required="true">
        </st-input-text>

        <st-input-text label="Telefone"
                       ng-model="vm.stService.entidade.telefone"
                       ng-required="true">
        </st-input-text>

        <st-input-text label="Instituição"
                       ng-model="vm.stService.entidade.instituicao"
                       ng-required="true">
        </st-input-text>

        <st-input-text label="Turno"
                       ng-model="vm.stService.entidade.turno"
                       ng-required="true">
        </st-input-text>
    </st-crud-body>
</st-crud>