<md-card ng-class="::templateClassTipo">
    <md-card-header ng-if="titulo">
        <div ng-transclude="header">
            <md-card-header-text id="titulo-heading">
                <i ng-if="icone" ng-class="::templateClassIcone"></i>
                <span class="md-title" ng-bind="::templateTitulo"></span>
            </md-card-header-text>
        </div>
    </md-card-header>
    <md-card-content>
        <form name="{{templateFormName}}">
            <div ng-transclude="body"></div>
        </form>
    </md-card-content>
    <md-card-footer>

        <md-card-actions ng-transclude="footer">
            <md-button class="md-primary md-raised" ng-click="salvar()">Salvar</md-button>
            <md-button class="md-danger md-raised" ng-click="remover()">Excluir</md-button>
        </md-card-actions>
    </md-card-footer>
</md-card>